# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022 Guillaume Frognier <guillaume.frognier@laposte.net>
[Desktop Entry]
Name=AppLinkDesktop
Name[fr]=AppLinkDesktop
Comment=Simple application for managing applications' links on the desktop
Comment[fr]=Simple application pour gérer les liens d'applications sur le bureau
Version=1.0
Exec=applinkdesktop
Icon=applications-development
Type=Application
Terminal=false
Keywords=desktop;shortcut;link;
Keywords[fr]=bureau;raccourci;lien;
# Add an actual main category here (and possibly applicable additional ones)
#   https://specifications.freedesktop.org/menu-spec/latest/apa.html#main-category-registry
Categories=Qt;KDE;Utility;Settings
